@model OBOTool.Models.WellDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WellDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Election.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Election.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApiNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApiNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duwi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duwi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerAfe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerAfe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Township)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Township)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedEstimatedSpudDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedEstimatedSpudDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedFormation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedFormation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedNumberOfCsgStrings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedNumberOfCsgStrings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringOneDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringOneDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringOneDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringOneDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringTwoDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringTwoDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringTwoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringTwoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringThreeDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringThreeDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringThreeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringThreeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringFourDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringFourDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedStringFourDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedStringFourDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedPlanDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedPlanDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedAfeCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedAfeCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedIncludesConstruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedIncludesConstruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedIncludesRigMove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedIncludesRigMove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedIncludesProdCsgCmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedIncludesProdCsgCmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedBatchDrilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedBatchDrilling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedSpudderRig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedSpudderRig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedTotalDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedTotalDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedTvd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedTvd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedLateralLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedLateralLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedUsingRss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedUsingRss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedMudComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedMudComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedOtherComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedOtherComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillSpudDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillSpudDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillRRDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillRRDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillFormation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillFormation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillNumberOfCsgStrings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillNumberOfCsgStrings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringOneDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringOneDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringOneDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringOneDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringTwoDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringTwoDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringTwoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringTwoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringThreeDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringThreeDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringThreeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringThreeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringFourDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringFourDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillStringFourDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillStringFourDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillDrillingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillDrillingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillFieldEstimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillFieldEstimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillActualCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillActualCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillIncludesConstruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillIncludesConstruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillIncludesRigMove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillIncludesRigMove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillIncludesProdCsgCmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillIncludesProdCsgCmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillSidetrack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillSidetrack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillBatchDrilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillBatchDrilling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillSpudderRig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillSpudderRig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillTotalDepth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillTotalDepth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillTvd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillTvd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillLateralLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillLateralLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillUsingRss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillUsingRss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillMudComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillMudComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDrillOtherComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDrillOtherComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalLetterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalLetterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectionLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectionLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectionLetterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectionLetterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyDrillingReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyDrillingReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyDrillingReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyDrillingReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalDirectionalSurvey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDirectionalSurvey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalDirectionalSurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDirectionalSurveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenHoleCasedHoleProcessedLogs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenHoleCasedHoleProcessedLogs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenHoleCasedHoleProcessedLogsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenHoleCasedHoleProcessedLogsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalMwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalMwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalMwdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalMwdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MudlogFinalUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MudlogFinalUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MudlogFinalUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MudlogFinalUpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreReportsAnalysesAllRelatedData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreReportsAnalysesAllRelatedData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoreReportsAnalysesAllRelatedDataDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreReportsAnalysesAllRelatedDataDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyCompletionReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyCompletionReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyCompletionReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyCompletionReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostFracReportOrPostCompletionReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostFracReportOrPostCompletionReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostFracReportOrPostCompletionReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostFracReportOrPostCompletionReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowbackReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowbackReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlowbackReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlowbackReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalProductTesting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalProductTesting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalProductTestingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalProductTestingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrillStemReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrillStemReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrillStemReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrillStemReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyProductionReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyProductionReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyProductionReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyProductionReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyProductionReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyProductionReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyProductionReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyProductionReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyOfGasContract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyOfGasContract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyOfGasContractDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyOfGasContractDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullyExecutedStateAndFederalForms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullyExecutedStateAndFederalForms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullyExecutedStateAndFederalFormsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullyExecutedStateAndFederalFormsDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
