@model OBOTool.Models.WellDetail

@{
    ViewBag.Title = "Edit Well";
}

<h2>Edit Well - @Html.DisplayFor(model => model.Name)</h2>


@using (Ajax.BeginForm("Edit", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "updateResult",
    OnFailure = "updateResult"
}))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div id="saveMessage"></div>

    @Html.Partial("_Edit")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}