@model IEnumerable<OBOTool.Models.WellDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Wells</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*@using (Html.BeginForm())
{
    <p>
        Filter by Well Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}*@
<table class="display" id="wellsIndex">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duwi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposedFormation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>

            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApiNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duwi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedFormation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
